@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import "tailwindcss";

@layer base {

    html,
    body {
        overflow-x: hidden;
        overflow-y: auto;
        max-width: 100vw;
    }
}

@layer utilities {
    .font-bad-script {
        font-family: 'Bad Script', cursive !important;
    }
}
