@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import "tailwindcss";

@layer base {

    html,
    body {
        overflow-x: clip;
        max-width: 100vw;

        /* Hide scrollbar for Chrome, Safari and Opera */
        &::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}

@layer utilities {
    .font-bad-script {
        font-family: 'Bad Script', cursive !important;
    }
}